$paddings:50px 0;
$positionText:center;
$fontSizeSub: 16px;
$fontSizeText:14px;
$titleSize:30px;
$color1: #6a4c93;
$color2:#fca311;

h2{
    font-size: $fontSizeSub;
    text-align: $positionText;
}

h3{
    text-align: $positionText;
    color:$color1;
}

h5{
    text-align: $positionText;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brandImg h1{
    text-align: $positionText;
}



.brandImg{
    padding:$paddings;
}

.serviceText{
    font-size:$fontSizeText ;
    text-align: $positionText;
}

.brandImg img{
    height: 150px;
    width: 100%;
}

.brandImg .logoImg{
    height: 90px;
    width: 100%;
    border-radius: 50%;
}

.imgSuppliers img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40%;
}

.progress-bar-item{
    padding: 0 1em 1em;
    max-width: 1000px;
    margin: 0 auto;
}

progress{
    height: 45px;
    width: 80%;
}

.subtitle_section{
    text-align:$positionText;
    font-size:$titleSize;
    text-transform: uppercase;
    padding:40px;
}

.numbersText{
    font-size: 70px;
    text-align:$positionText;
    font-weight: bold;
    color: #fca311;
}

.txtFAQ{
    text-align: center;
}

.colorNumber1{
    background-color:$color2;
}
.colorNumber2{
    background-color:$color1;
    color: #fff;
}




