h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #00509d;
}

h5 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6{
  text-align: center;
}

.brandImg h1 {
  text-align: center;
}

.brandImg {
  padding: 30px 0;
}

.serviceText {
  font-size: 16px;
  text-align: center;
}

.brandImg img {
  height: 150px;
  width: 100%;
}

.brandImg img.quienesSomos {
  height: 175px;
  width: 100%;
}

.brandImg .logoImg {
  height: 90px;
  width: 100%;
  border-radius: 50%;
}

.imgSuppliers img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 40%;
}

.progress-bar-item {
  padding: 0 1em 1em;
  max-width: 1000px;
  margin: 0 auto;
}

progress {
  height: 45px;
  width: 80%;
}

.subtitle_section {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
}

.numbersText {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: #fca311;
}

.txtFAQ {
  text-align: center;
}

.colorNumber1 {
  background-color: #fca311;
}

.colorNumber2 {
  background-color: #6a4c93;
  color: #fff;
}

img.iconsTagexpress{
  height: 150px;
  width: 100%;
  padding: 45px;
}

.card-style{
  border: 1px solid #CFCFCF;
  padding: 20px;
  border-radius: 15px;
}

button.faq{
  width: 100%;
}

.text_card_info{
  padding: 20px;
}
.text_card_info p{
  font-size: 28px;
}

.centerImgTag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*responsive logo*/
@media only screen and (max-width:  600px){
  .centerImgTag {
    width: 100%;
  }
}

@media only screen and (max-width:  600px){
  .card-style {
    margin-left: 0px!important;
    margin-bottom: 10px;
    border: none;
  }
  .numbersText{
    font-size: 50px;
  }
}



