$paddings:50px 0;
$positionText:center;
$fontSizeSub: 16px;
$fontSizeText:14px;

h2{
    font-size: $fontSizeSub;
    text-align: $positionText;
}

.brandImg h1{
    text-align: $positionText;
}



.brandImg{
    padding:$paddings;
}

.serviceText{
    font-size:$fontSizeText ;
    text-align: $positionText;
}

.brandImg img{
    height: 150px;
    width: 100%;
}

.brandImg .logoImg{
    height: 90px;
    width: 100%;
    border-radius: 50%;
}

.imgSuppliers img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40%;
}

.progress-bar-item{
    padding: 0 1em 1em;
    max-width: 1000px;
    margin: 0 auto;
}

progress{
    height: 45px;
    width: 80%;
}


