.parallax {
    /* The image used */
    background-image: url("../../../../Assets/banner4.jpg");
  
    /* Set a specific height */
    height: 400px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
  }

  @media only screen and (max-width:  600px){
    .parallax{
      display: none;
    }
  }
